# Virtual Environment
venv/
env/
.venv
.env/
.wvenv/
.w2venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data and databases
*.db
*.sqlite3

# IDE files
.idea/
.vscode/
*.swp
*.swo